.main .item-login-option:after, .main .item:after {
    content: '\20';
    clear: both
}

.header {
    position: relative;
    z-index: 8888;
    height: 44px;
    background: url(header-bg.png) repeat-x #efefef;
    background-size: 100% 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px;
    font-family: PingHei, "Lucida Grande", "Lucida Sans Unicode", STHeiti, Helvetica, Arial, Verdana, sans-serif;
    color: #252525;
    font-size: 16px;
    min-width: 320px
}

.header a {
    position: absolute;
    width: 40px;
    height: 44px
}

.header span {
    display: block;
    width: 20px;
    height: 20px;
    margin: 12px 0 0 10px;
    text-indent: -100px;
    overflow: hidden;
    background: url(arrow.png) no-repeat;
    background-size: 20px 20px
}

.header h2 {
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    font-size: 16px;
    text-align: center
}

.main {
    padding: 20px 15px 0
}

.main h2 {
    margin: 8px 0 10px;
    line-height: 1.5;
    font-size: 13px;
    color: #686868
}

.main .item, .main .item-captcha .input-info {
    margin-bottom: 10px
}

.main h2 span {
    color: #252525
}

.main .item {
    position: relative;
    width: 100%
}

.main .item .txt-input {
    width: 100%;
    height: 44px;
    line-height: normal;
    padding: 0;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    background: #fff;
    font-family: '\5fae\8f6f\96c5\9ed1';
    font-size: 16px;
    color: #252525;
    -webkit-appearance: none
}

.main .item .txt-input::-webkit-input-placeholder {
    color: #bfbfbf
}

.main .item .txt-input:-moz-placeholder {
    color: #bfbfbf
}

.main .item .txt-input::-moz-placeholder {
    color: #bfbfbf
}

.main .item .txt-input:-ms-input-placeholder {
    color: #bfbfbf
}

.main .item .err-msg {
    font-size: 13px;
    color: #f25454
}

.main .item .txt-err {
    border: 1px solid #f25454
}

.main .item .txt-phone {
    padding-left: 15px;
    width: 53.31034482758621%
}

.main .item .txt-captcha, .main .item .txt-password, .main .item .txt-username {
    padding-left: 15px
}

.main .item .txt-pad18 {
    padding-left: 18px
}

.main .item .input-close {
    display: block;
    position: absolute;
    top: 16px;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    cursor: pointer
}

.main .item:after {
    display: block
}

.main .item-phone .input-close {
    right: 15px
}

.main .item-username .input-close {
    right: 17px
}

.main .item-password .input-close {
    right: 78px
}

.main .item-password .tp-btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 51px;
    height: 35px
}

.main .item-password .btn-off {
    background-size: 51px 35px
}

.main .item-password .btn-on {
    background-size: 51px 35px
}

.main .item-captcha #captcha-img {
    position: absolute;
    right: 0;
    top: 9px;
    width: 79px;
    height: 25px;
    padding-left: 7px;
    border-left: 1px solid #d7d7d7
}

.main .item-captcha .input-close {
    right: 89px
}

.main .item-password .err-tips {
    margin: 13px 0 24px;
    font-size: 13px;
    color: #848689
}

.main .item-password .err-tips a {
    color: #f25454;
    border-bottom: 1px solid #f25454;
    display: inline-block;
    height: 13px
}

.main .item-captcha .login-free {
    position: relative;
    height: 18px;
    padding-left: 26px;
    line-height: 18px;
    font-size: 13px;
    color: #848689
}

.main .item-captcha .login-free b {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-size: 18px 18px
}

.main .item-captcha .login-free-selected b {
    background-size: 18px 18px
}

.main .item-btns .btn-login, .main .item-btns .btn-next {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background: #f25454;
    text-decoration: none;
    line-height: 39px;
    text-align: center;
    font-size: 17px;
    color: #fff
}

.main .item-btns .btn-disabled {
    background: #e2e2e2;
    cursor: default;
    color: #bdbdbd
}

.main .item-sms-captcha {
    margin-bottom: 10px
}

.main .item-sms-captcha .txt-sms-captcha {
    float: left;
    padding-left: 15px
}

.main .item-phone .btn-retransmit {
    float: right;
    overflow: hidden;
    width: 44.13793103448276%;
    height: 42px;
    border: 1px solid #f15353;
    border-radius: 3px;
    background: #fff;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #f15353
}

.main .item-phone .btn-retransmit-disabled {
    box-shadow: none;
    border: 1px solid #e2e2e2;
    background: #e2e2e2;
    cursor: default;
    color: #bdbdbd
}

.main .item-sms-captcha .input-close {
    left: 52.75862068965517%
}

.main .item-sms-captcha1 {
    margin-bottom: 42px
}

.main .item-login-option {
    padding-top: 20px;
    margin-bottom: 34px;
    font-size: 14px
}

.main .item-login-option .register-free {
    float: left;
    width: 50%
}

.main .item-login-option .retrieve-password {
    float: right;
    width: 50%;
    text-align: right
}

.main .item-login-option .register-free a, .main .item-login-option .retrieve-password a {
    color: #686868;
    font-size: 15px;
    border-bottom: 1px solid #686868;
    height: 14px;
    display: inline-block
}

.main .item-login-option:after {
    display: block
}

.main .item-login-other dt {
    margin-bottom: 13px;
    font-size: 14px;
    color: #666
}

.main .item-login-other dd a {
    float: left
}

.main .item-login-other dd a span {
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 30px;
    background-size: 285px 24px;
    line-height: 100px;
    text-indent: -9999px
}

.main .item-login-other dd .qq {
    width: 25.17%
}

.main .item-login-other dd .qq span {
    width: 25px;
    margin-left: 5px
}

.main .item-login-other dd .renren {
    width: 27.7586%
}

.main .item-login-other dd .renren span {
    width: 38px;
    background-position: -66px 0
}

.main .item-login-other dd .weibo {
    width: 19.2714%
}

.main .item-login-other dd .weibo span {
    width: 29px;
    background-position: -144px 0
}

.main .item-login-other dd .douban {
    width: 27.8%;
    text-align: right
}

.main .item-login-other dd .douban span {
    width: 82px;
    background-position: -205px 0
}

.main-unbind .item-tips {
    margin-bottom: 15px
}