body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
	font-size:45%;
  position: absolute;
  left: 2%;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20%;
}
.onepage-pagination li {
  padding: 0;
  text-align: left;
  list-style-type: none;
}
.onepage-pagination li a{
  padding: 5px;
 /*  width: 4px;
  height: 4px; */
  display: block;
 
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  /* background: #4e5e67; */
 /*  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; */
}

.onepage-pagination li a.active:before{
 /*  width: 10px;
  height: 10px; */
  background: none;
 /*  border: 1px solid #4e5e67;  */
  margin-top: -4px;
  left: 8px;
}


.onepage-pagination li a span{
	 text-transform: uppercase;
  font-family: "Microsoft YaHei";
color:#ffffff;
   position: relative;
}
.onepage-pagination li a.active span {
  color: #ffffff;
  font-size: 120%;
}

.onepage-pagination li a .spangan {
  display: block;
  float: left;
  width: 5%;
  	opacity:0;
filter:alpha(opacity=100); /* 针对 IE8 以及更早的版本 */
}
.onepage-pagination li a .spanshu {
  display: block;
  float: left;
  font-family: "Century Gothic";
  font-weight: bold;
  margin-right: 5%;
  width: 8%;
  text-align: center;
}
.onepage-pagination li a.active .spangan {
    	opacity:1;
filter:alpha(opacity=0); /* 针对 IE8 以及更早的版本 */
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}